# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
.build/

# Production
build/
dist/

# Environment variables
# .env
.env.*
# !.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE / Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Vercel
.vercel

# Testing
coverage/

# Misc
*.pem
*.log
